/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ********************************** */
/*        MEDIA QUERIES (MÓVIL)       */
/* ********************************** */
/* Para pantallas de hasta 768px de ancho (celus) */
@media (max-width: 768px) {
	.hero {
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem;
		padding: 2rem 0;
		gap: 2rem;
	}
	.customer-support i,
	.container-logo i,
	.container-user .fa-user,
	.container-user .fa-basket-shopping,
	.container-logo h1 a {
		font-size: 2.2rem;
		font-size: 2.4rem;
	}
	.content-customer-support .text,
	.content-shopping-cart .text {
		display: none;
	}
}